<h4>Preguntas/Respuestas</h4>
<%= flash[:alert] %>
<%= link_to 'Nueva pregunta', new_question_path, class:"btn btn-primary btn-xl" %>
<br>
<br>
<% @questions.reverse.each do |question| %>
<div class="col-md-12">
<div style="border: 2px solid black; background-color: #B8B8B8;">

<br>
  <div class="col-xs-offset-1"><h3><%= question.content%></h3>
      -<i class="fa fa-clock-o"> Hace <%= time_ago_in_words(question.created_at)%> atrás, por <%= question.user.name %> <%= question.user.last_name %></i>-
  <br>

      <% if can? :update, question %>
      <%= link_to edit_question_path(question) do%>
      <%= fa_icon 'pencil', text: 'Editar' %>
      <% end %>
      <% end %>
      <% if can? :update, question %>
      | <%= link_to question, method: :delete, data: { confirm: 'Are you sure?'} do%>
      <%= fa_icon 'trash', text: 'Borrar' %>
      <% end %>
      <% end %>
    </div>
      <h4>Respuestas</h4>
      <div class="col-xs-offset-1">
      <% if question.answers.any? %>

      <%= render question.answers %>
      <% end %>
      <hr>
      <%= form_for([question, question.answers.build]) do |f| %>
      <%= f.text_area :content, :id => "message_area",required:true %><br>
      <%=f.submit "Agregar Respuesta", class: "btn btn-primary btn-xl"%></div><br>
      <% end %>
      </div>

</div>

<br>

<% end %>
