<h1> Editar descarga </h1>

<%= form_for(@descarga) do |aux| %>

<div class="field">
<%= aux.label :titulo %><br>
<% aux.text_field :titulo %>
</div>
<div class="field">
<%= aux.label :asignatura%><br>
<% aux.text_field :asignatura %>
</div>
<div class="field">
<%= aux.label :descripcion %><br>
<% aux.text_field :descripcion %>
</div>
<div class="field">
<%= aux.label :fecha %><br>
<% aux.text_field :fecha %>
</div>

<div class="actions">
<% aux.submit 'Guardar cambios' %>
</div>
<%end%>

<%= link_to 'atras', descargar_path %>
