<div class="page-header clearfix">
  <h3><%= fa_icon 'leanpub' %>
    <%= 'Asignaturas disponibles' %>
    <small><%= 'Asignaturas ' %></small>
  </h3>
</div>

<div class="panel panel-default" id="table_clientes">
  <div class="panel-heading clearfix">
    <div class="row">
      <div class="col-lg-6">
        <%= form_tag('/god/cursos', method: :get) do %>
        <div class="input-group">
          <input id="search" name="search" value="<%= params[:search] %>" type="text" class="form-control" placeholder="Buscar curso">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><%= fa_icon 'search', text: '' %></button>
          </span>
        </div>
        <!-- /input-group -->
      <% end %>
    </div>
  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="pretty">
            <th>Asignatura</th>
            <th>Curso</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>

          <% @asignaturas.each do |asignatura| %>
            <tr>
              <td><%= asignatura.nombre.titleize %></td>
              <td><%= asignatura.curso.grado %>°
                <%= asignatura.curso.letra_codigo %></td>
              <td><%= link_to alumno_asignatura_path(asignatura), class: 'btn btn-success' do%>
                <%= fa_icon 'search', text: 'Ver' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
<div class="panel-footer">

</div>
</div>
</div>
