<h3>Asignaturas</h3>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Curso</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.nombre.titleize %></td>
        <td><%= asignatura.curso.grado %>° <%= asignatura.curso.letra_codigo %></td>
        <td><%= link_to alumno_asignatura_path(asignatura), class: 'btn btn-default' do%>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
