<div class="page-header clearfix">
  <h3><%= fa_icon 'book' %>
    Asignaturas de
    <%= @asignatura.curso.grado %>°<%= @asignatura.curso.letra_codigo %>
    <small>Detalle Asignatura</small>
  </h3>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <br>
  </div>
  <div class="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#cabecera" aria-controls="cabecera" role="tab" data-toggle="tab" id="ficha">Ficha</a>
      </li>
      <li role="presentation">
        <a href="#archivos" aria-controls="archivos" role="tab" data-toggle="tab">Archivos</a>
      </li>
      <li role="presentation">
        <a href="#foros" aria-controls="foros" role="tab" data-toggle="tab">Foros</a>
      </li>
    </ul>
  </div>

  <div class="panel-body">

    <div class="tab-content">
      <!-- Cabecera -->
      <div role="tabpanel" class="tab-pane active" id="cabecera">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th colspan="4" class="active">Datos base</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="active col-title"><%= fa_icon 'circle', text: 'Nombre' %></td>
                <td class="col-content"><%=@asignatura.nombre%></td>
                <td class="active col-title"><%= fa_icon 'calendar', text: 'Año' %></td>
                <td class="col-content"><%=@asignatura.año%></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <!-- Archivos -->
      <div role="tabpanel" class="tab-pane" id="archivos">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>N°</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <%@asignatura.posts.each_with_index do |post, numero|%>
                <tr>
                  <td>
                    <%= numero+1%>
                  </td>
                  <td>
                    <%= post.title %>
                  </td>
                  <td>
                    <%= post.description%>
                  </td>
                  <td>
                    <%= link_to post.image.url, target: '_blank' do %>
                    <%= fa_icon 'download', text: 'Descargar' %>
                  <% end %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="foros">
      <%= render 'foros'%>
    </div>

  </div>
</div>

<div class="panel-footer">
  <%= link_to alumno_asignaturas_path, class: 'btn btn-success' do %>
  <%= fa_icon 'arrow-left', text: 'Atrás' %>
<% end %>

</div>
</div>
