<h1>Curso <%= @curso.grado %>°<%= @curso.letra_codigo %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Asignatuas</th>
      <th>Ver</th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.nombre %></td>
        <td>
          <%= link_to profesor_asignatura_path(asignatura) do %>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="panel-footer">
  <%= link_to profesor_notas_path, class: 'btn btn-success' do %>
    <%= fa_icon 'arrow-circle-left', text: t(:list) +'a de cursos' %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
