
<div class="page-header clearfix">
  <h3>Curso <%= @curso.grado %>°<%= @curso.letra_codigo %>
    <small><%= 'Listar cursos' %></small>
  </h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">

  <thead>
    <tr class="pretty">
      <th>Asignaturas</th>
      <th>Ver</th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.nombre.titleize %></td>
        <td>
          <%= link_to profesor_asignatura_path(asignatura),class: 'btn btn-success' do %>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="panel-footer">
  <%= link_to profesor_notas_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'arrow-circle-left', text: 'Atrás' %>
  <% end %>
</div>
</div></div>
