<div class="page-header clearfix">
  <h3><%= fa_icon 'exclamation-circle' %>
    Listado completo de asistencias del curso
  </h3>
</div>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="row"></div><br>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
<div class="input-group">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busqueda r치pida" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" disabled><%= fa_icon 'search', text: '' %></button>
    </span>
</div>
</div><!-- /.row -->

</div>
    <br>
    <table class="table table-bordered table-striped" id="myTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Asisti칩</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @presences.each do |presence| %>
          <tr>
            <td><%= presence.user.name+' '+ presence.user.last_name%></td>
            <%if presence.asistio == true%>
              <td><%= 'Si' %></td>
            <%end%>
            <td><%= presence.fecha.strftime("%d-%m-%Y") %></td>
            <td><%= link_to profesor_presence_path(presence), method: :delete, data: {confirm: 'Est치 seguro?'} do%>
              <%= fa_icon 'trash', text: 'Eliminar' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>  <div class="panel-footer">
    <%= link_to "/profesor/presences/#{@users.last.cursos.last.id}", class: 'btn btn-success' do %>
    <%= fa_icon 'arrow-left', text: 'Atr치s' %>
  <% end %>
</div>
</div>
<script>
function myFunction() {
var input,
  filter,
  tabla,
  tr,
  td,
  i;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("myTable");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
