<h3>Asistencias <small><%= current_user.cursos.find_by(id: params[:id]).grado %>°<%= current_user.cursos.find_by(id: params[:id]).letra_codigo %></small></h3>
<br>
<h4>Registrar asistencias del curso <%= current_user.cursos.find_by(id: params[:id]).grado %>°<%= current_user.cursos.find_by(id: params[:id]).letra_codigo %></h4>
<%@current_curso=current_user.cursos.find_by(id: params[:id])%>
<%= form_tag create_multiple_profesor_presences_path, method: :post do %>
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha</th>
      <th>Asistencia</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name%></td>
        <td><%=Date.today.strftime("%d-%m-%Y")%></td>
        <td><%= check_box_tag "users_ids[]", user.id%></td>

      </tr>
    <% end %>
  </table>
    <%if @users.present?%>
      <%= submit_tag "Crear Asistencias", class:"btn btn-primary btn-xl"%>
    <%else%>
    <h3>No hay alumnos en el curso</h3>
    <%end%>
<% end %>
<br>
<%if @users.present?%>
    <div class="panel-footer">
          <%= link_to "/profesor/presences/#{@users.last.cursos.last.id}/asists", class: 'btn btn-success' do %>
            <%= fa_icon 'list', text: t(:list) +'a de Asignaturas' %>
          <% end %>
    </div>
<%end%>
