<p id="notice"><%= notice %></p>

<h1>Asistencias</h1>
<br>
<h4>Registrar asistencias del curso</h4>

<%= form_tag create_multiple_profesor_presences_path, method: :post do %>
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha</th>
      <th>Asistencia</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name%></td>
        <td><%=Date.today.to_s%></td>
        <td><%= check_box_tag "users_ids[]", user.id %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Crear Asistencias", class:"btn btn-primary btn-xl" %>
<% end %>
<br>
<h4>Listado completo</h4>
<br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre.." title="Type in a name">
<br>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Asistió</th>
      <th>Fecha</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= presence.user.name+' '+ presence.user.last_name%></td>
        <%if presence.asistio == true%>
        <td><%= 'Si' %></td>
        <%else%>
        <td><%= 'No' %></td>
        <%end%>
        <td><%= presence.fecha %></td>
        <td><%= link_to profesor_presence_path(@presences), method: :delete, data: { confirm: 'Está seguro?' } do%>
          <%= fa_icon 'trash', text: 'Borrar' %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>

function myFunction() {
  var input, filter, tabla, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
