<div class="page-header clearfix">
  <h3><%= fa_icon 'exclamation-circle' %>
    Preguntas/respuestas para
    <%=@tema.asignatura.nombre.titleize%>
  </h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="background-color:#2e3338">
    <h3 align="center">
      <b><%=@tema.titulo%></b>
    </h3>
  </div>
  <div class="panel-body">
    <%= link_to new_question_path, class:'btn btn-success pull-right' do%>
    <%= fa_icon 'bars', text: 'Nueva pregunta' %>
  <% end %>
  <% @questions.reverse.each do |question| %><br><br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= question.content%><br>
            <i class="fa fa-clock-o pull-right">
              <%= time_ago_in_words(question.created_at)%>
              atrás, por
              <%= question.user.name %>
              <%= question.user.last_name %>
              <% if can? :update, question %>
                <%= link_to edit_question_path(question) do%>
                <%= fa_icon 'pencil', text: 'Editar' %>
              <% end %>
            <% end %>
            <% if can? :update, question %>
              |
              <%= link_to question, method: :delete, data: { confirm: 'Está seguro?' } do%>
              <%= fa_icon 'trash', text: 'Borrar' %>
            <% end %>
          <% end %>
        </i>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if question.answers.any? %>
      <%= render question.answers %>
    <% end %>
  </tbody>
</table>

<div class="col-md-12">
  <%= form_for([question, question.answers.build]) do |f| %>
  <div class="col-md-10">
    <%= f.text_area :content, cols: '300', rows: "1", :id => "message_area",required:true %><br>
  </div>
  <div class="col-md-2">
    <%=f.submit "Agregar Respuesta", class: "btn btn-primary pull-right btn-xs"%>
  </div>
<% end %>
</div>
<% end %>
</div>

<div class="panel-footer">
<%= link_to alumno_notas_path, class: 'btn btn-success' do %>
<%= fa_icon 'arrow-circle-left', text: t(:Atrás) %>
<% end %>
</div>
</div>
