<div class="row center-xs text-left">
  <div class="col-xs-8 col-md-6">
    <div class="box-sizing text-left">
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :telefono,"Introduzca su telefono" %><br />
    <%= f.text_field :telefono, autocomplete: "off", autofocus: true, class:"from-control", placeholder: "Ej: 912345678 - 22134567" %>
  </div>

  <div class="field">
  <%= f.label :fecha_nacimiento %> <%= f.date_select(:fecha_nacimiento,:start_year => 1937, :end_year => 2011, prompt: {day: 'Elige día', month: 'Elige mes', year: 'Elige año'}) %>
  </div>

  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion, autocomplete: "off", autofocus: true, class:"from-control", placeholder: "Calle, Numero, Dpto, Comuna, Ciudad" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"from-control" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


<div class="actions">
  <%= f.submit "Actualizar", class:"btn be-red white" %>
</div>
<% end %>
<%= link_to "Atrás", :back %>

</div>
</div>
</div>
