<div class="page-header clearfix">
  <h3><%= fa_icon 'check' %>
    Asistencia
    <small>Para el alumno
      <%= current_user.name %>
      <%= current_user.last_name %></small>
  </h3>
</div>

<div class="panel panel-default" id="asistencias">
  <div class="panel-heading clearfix"><br>
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= I18n.l(@date, format: '%B del %Y') %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <div class="panel-heading clearfix">

        <div class="panel-body">

          <%= calendar @date do |date| %>
          <%= date.day %>
          <% if @asistencias[date] %>
            <ul>

              <h4><span class="label label-success">PRESENTE</span></h4>

            </ul>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
<div class="panel-footer">
  <br>
</div>
</div>
