<%flag_new = !@usuario.persisted?%>
  <%= simple_form_for(@usuario,url: url_for(controller: 'usuarios', action: flag_new ? :create : :update),html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>USUARIO NUEVO</h4>
    </div>
    <div class="panel-body">

      <%= f.input :name, placeholder: 'Nombre',label: 'Nombre' %>
      <%= f.input :last_name, placeholder: 'Apellido', label: 'Apellidos' %>
      <%= f.input :rut, placeholder: 'RUT' %>

      <%=f.input :email,placeholder: 'usuario@dominio.com', required: true%>
      <%= f.input :telefono, placeholder:'+56-', label: 'Teléfono' %>
      <%= f.input :fecha_nacimiento, as: :date_picker, placeholder:'' %>
      <%= f.input :direccion, placeholder:'Dirección', label: 'Dirección'%>

      <%= f.input :password, placeholder:'Contraseña' %>
      <%= f.input :password_confirmation, placeholder:'Confirmar Contraseña' %>



        <div class="text-center">
          <%= f.input :es_apoderado, as: :boolean, label: '¿Es apoderado?' %>
        </div>

      <%= f.input :alumno_id, label: 'Alumno', placeholder:'-Seleccione alumno', disabled: true, collection: User.with_role(:alumno).collect {|a| [a.name, a.id]}%>
    </div>
    <div class="panel-footer">
      <%= button_tag(type: 'submit',class: "btn btn-success") do %>
      <%= fa_icon 'save', text: "Guardar Usuario"%>
    <% end %>

    <%= link_to configuraciones_usuarios_path, class: 'btn btn-danger' do %>
    <%= fa_icon 'remove', text: 'Cancelar' %>
  <% end %>
</div>
</div>
<%end%>
<script type="text/javascript">

$(document).ready(function () {
  $('#user_es_apoderado').click(function () {
    if ($('#user_alumno_id').is(':disabled')) {
      $('#user_alumno_id').removeAttr('disabled');
    } else if ($('#user_alumno_id').is(':enabled')){
      $('#user_alumno_id').attr('disabled', 'disabled');
    }
  });
});
</script>
