<div class="page-header clearfix">
  <h3><%= fa_icon 'users' %> Usuarios <small>Listar Usuarios</small></h3>
</div>

<div class="panel panel-default" id="table_clientes">
  <div class="panel-heading clearfix">

    <%= form_tag configuraciones_usuarios_path+"#tabla", method: 'get' do%>
      <div class="row">

        <div class="col-md-2">
          <%=label_tag "RUT "%>
          <%=text_field_tag("by_rut", value = params[:by_rut], options = {class: "form-control input-height",placeholder:'11222333-4'}) %>
        </div>
        <div class="col-md-3">
          <%=label_tag "Nombre "%>
          <%=text_field_tag("by_nombre", value = params[:by_nombre], options = {class: "form-control input-height"}) %>
        </div>
        <div class="col-md-3">
        <%=label_tag "Rol"%>
        <%=select_tag('by_rol', options_for_select(@roles.collect{ |u| [u.name, u.id] },params[:by_rol]),options = {class: "form-control input-height",prompt:'---Seleccione un Rol---'})%>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <div class=" botones">
            <%=button_tag(type: "submit",class: "btn btn-info") do%>
              <%= fa_icon 'filter', text:'Filtrar'%>
            <%end%>
            <%=link_to configuraciones_usuarios_path,class: "btn btn-warning" do%>
              <%= fa_icon 'trash-o', text: 'Limpiar' %>
            <%end%>

            <%= link_to new_configuraciones_usuario_path, class: 'btn btn-success' do %>
                <%= fa_icon 'plus', text: 'Agregar Usuario' %>
            <% end %>

          </div>
        </div>
      </div>
    <%end%>

  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="pretty">
          <th>nombre</th>
          <th>Email</th>
          <th class="hidden-xs hidden-sm hidden-md">Telefono</th>

          <th class="hidden-xs">Roles</th>

          <th>Acciones</th>

        </tr>
        </thead>

        <tbody>
        <% @usuarios.each do |usuario| %>
            <tr>
              <td><%= link_to usuario.name, configuraciones_usuario_path(usuario) %></td>
              <td><%= usuario.email%></td>
              <td class="hidden-xs hidden-sm hidden-md"><%=usuario.telefono%></td>

              <td class="hidden-xs">
                <%=usuario.roles.collect{|u| u.name}.join(',') %>
              </td>

              <td>
                <%= link_to configuraciones_usuario_path(usuario), class: 'btn btn-info btn-xs' do %>
                  <%= fa_icon 'eye', text: 'Ver' %>
                <% end %>

                <%= link_to edit_configuraciones_usuario_path(usuario), class: 'btn btn-warning btn-xs hidden-xs' do %>
                    <%= fa_icon 'pencil', text: 'Editar' %>
                <% end %>

                <%= link_to configuraciones_usuario_path(usuario), method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger btn-xs' do %>
                    <%= fa_icon 'trash', text: 'Eliminar' %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>


  </div>
  <div class="panel-footer">

  </div>
</div>
