<div class="page-header clearfix">
  <h3><%= fa_icon 'users' %> Usuarios <small>detalle de usuarios</small></h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="pull-left"><%= @usuario.name %> <%= @usuario.last_name %></h4>


  </div>

  <div class="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#cabecera" aria-controls="cabecera" role="tab" data-toggle="tab">Datos</a>
      </li>
    </ul>
  </div>

  <div class="panel-body">

    <div class="tab-content">
      <!-- Cabecera -->
      <div role="tabpanel" class="tab-pane active" id="cabecera">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td class="active col-title"><%= fa_icon 'info-circle',class:"icon-fixed-width", text: 'Nombre' %></td>
                <td class="col-content"><%=@usuario.name%> <%=@usuario.last_name%></td>
                <td class="active col-title"><%= fa_icon 'barcode',class:"icon-fixed-width", text: 'RUT' %></td>
                <td class="col-content"><%=@usuario.rut%></td>
              </tr>
              <tr>
                <td class="active col-title"><%= fa_icon 'user-circle',class:"icon-fixed-width", text: 'Fecha nacimiento' %></td>
                <td class="col-content"><%=@usuario.fecha_nacimiento %></td>
                <td class="active col-title"><%= fa_icon 'map-marker',class:"icon-fixed-width", text: 'Direccion' %></td>
                <td class="col-content"><%=@usuario.direccion%></td>
              </tr>
              <tr>

              </tr>
              <tr>
                <td class="active col-title"><%= fa_icon 'envelope',class:"icon-fixed-width", text: 'Email' %></td>
                <td class="col-content"><%=@usuario.email unless @usuario.email.nil?%></td>
                <td class="active col-title"><%= fa_icon 'envelope',class:"icon-fixed-width", text: 'Numero ingresos' %></td>
                <td class="col-content"><%=@usuario.sign_in_count%></td>

              </tr>
              <tr>
                <td class="active col-title"><%= fa_icon 'user-circle',class:"icon-fixed-width", text: 'Roles' %></td>
                <td class="col-content"><%=@usuario.roles.collect{|u| u.name}.join(',') %>
                  <% if @usuario.es_apoderado? && @usuario.roles.present?%>
                  <%=', Apoderado' %>
                  <% elsif @usuario.es_apoderado?%>
                  <%='Apoderado' %>
                  <% end %>
                </td>
                <td class="active col-title"><%= fa_icon 'envelope',class:"icon-fixed-width", text: 'Curso' %></td>
                <td class="col-content"><%=Curso.find(@usuario.curso_id).grado if @usuario.curso_id.present?%><%='°'+Curso.find(@usuario.curso_id).letra_codigo if @usuario.curso_id.present?%></td>
              </tr>
              <tr>
                <td class="active col-title"><%= fa_icon 'phone',class:"icon-fixed-width", text: 'Telefono' %></td>
                <td class="col-content"><%=@usuario.telefono%></td>
                <td class="active col-title"><%= fa_icon 'envelope',class:"icon-fixed-width", text: 'Fecha ingreso' %></td>
                <td class="col-content"><%=@usuario.fecha_ingreso%></td>
              </tr>
              <tr>
                <% if @usuario.es_apoderado?%>
                <td class="active col-title"><%= fa_icon 'envelope',class:"icon-fixed-width", text: 'Alumno a cargo' %></td>
                <td class="col-content"><%=link_to User.find(@usuario.alumno_id).name+' '+User.find(@usuario.alumno_id).last_name, configuraciones_usuario_path(@usuario.alumno_id)%></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

  </div>
  <div class="panel-footer">
    <%= link_to edit_configuraciones_usuario_path(@usuario), class: 'btn btn-warning' do %>
      <%= fa_icon 'pencil', text: 'Editar' %>
    <% end %>
    <%= link_to configuraciones_usuarios_path, class: 'btn btn-success' do %>
      <%= fa_icon 'list', text: 'Listar Usuarios' %>
    <% end %>

  </div>
</div>
