<p id="notice"><%= notice %></p>

<h1>Profesor Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |profesor_asignatura| %>
      <tr>
        <td><%= link_to 'Show', profesor_asignatura %></td>
        <td><%= link_to 'Edit', edit_profesor_asignatura_path(profesor_asignatura) %></td>
        <td><%= link_to 'Destroy', profesor_asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesor Asignatura', new_profesor_asignatura_path %>
