<h3>Subir Archivos</h3>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cursos/Asignaturas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.grado %>°<%= curso.letra_codigo %></td>
        <td></td>
      </tr>
        <% curso.asignaturas.each do |asignatura| %>
        <tr>
          <td><%= asignatura.nombre.titleize %></td>
          <td><%= link_to new_profesor_post_path(asignatura: asignatura) do %>
              <%= fa_icon 'upload', text: 'Subir Archivo' %>
              <% end %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
