<div class="page-header clearfix">
  <h3><%= fa_icon 'leanpub' %>
    <%= 'Subir Archivos' %>
  </h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading"></div>

  <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
    <tr>
      <th>Cursos/Asignaturas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td bgcolor="#0a3a6a" colspan="2" align="center" color="#FFFFFF"><b><%= curso.grado %>°<%= curso.letra_codigo %></b></td>

      </tr>
        <% curso.asignaturas.each do |asignatura| %>
        <tr>
          <td><%= asignatura.nombre.titleize %></td>
          <td><%= link_to new_profesor_post_path(asignatura: asignatura), class:'btn btn-success btn-xs' do %>
              <%= fa_icon 'upload', text: 'Subir Archivo' %>
              <% end %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>


</div>
<div class="panel-footer"></div>
</div>
