<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon 'cog', text: 'Configuraciones',class:"padding-right" %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to god_user_index_path do %>
        <%= fa_icon 'tags',class:"icon-fixed-width", text: 'Manejo de roles' %>
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to god_cursos_path do %>
      <%= fa_icon 'book',class:"icon-fixed-width", text: 'Cursos' %>
    <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to god_asignaturas_path do %>
    <%= fa_icon 'folder',class:"icon-fixed-width", text: 'Asignaturas' %>
  <% end %>
</li>

<li class="divider"></li>

<li>
  <%= link_to configuraciones_usuarios_path do %>
  <%= fa_icon 'users',class:"icon-fixed-width", text: 'Manejo de usuarios' %>
<% end %>
</li>
</ul>
</li>
</ul>
