<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon 'leanpub', text: 'Datos de curso',class:"padding-right" %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to profesor_cursos_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Cursos' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to profesor_notas_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Ingresar notas' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to alumno_notas_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Ver notas' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to profesor_presences_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Ingresar asistencia' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to alumno_asignaturas_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Ver asignaturas' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to profesor_asignaturas_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Subir archivos' %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
