
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
      PROYECTO
    <% end %>

  </div>
    <div id="navbar" class="collapse navbar-collapse">

      <%=render "partials/cursos"%>

      <%=render "partials/utilidades"%>

      <%=render "partials/configuraciones"%>
  
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon 'user', text: current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                <%= link_to edit_user_registration_path do %>
                  <%= fa_icon 'pencil', text: 'Actualizar datos' %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <%= fa_icon 'sign-out', text: 'Cerrar sesión' %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
