<link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav letras">
              <!-- Sidebar, colocalndo el cierre al final del menu, hace q no se desplace (achique el lado derecho) -->
                <li class="sidebar-brand">

                </li>
                <div class="container1">
                <li>
                    Menú
                </li><br>
                  <% if current_user.has_role? :admin %>
                <li>
                    <a href=/admin>Panel de administrador</a>
                </li><br>
                  <%end%>
                  <li>
                      <a href=/calendario/index>Calendario</a>
                  </li><br>
                  <li>
                      <a href=/questions>Preguntas/Respuestas</a>
                  </li><br>
                <li>
                  <% if current_user.has_role? :profesor %>
                    <%= link_to 'Ingresar notas', profesor_notas_path %>
                  <% elsif current_user.has_role? :alumno %>
                    <%= link_to 'Notas', alumno_notas_path %>
                  <% end %>
                </li><br>
                <li>
                  <% if current_user.has_role? :profesor %>
                    <%= link_to 'Ingresar asistencia', profesor_presences_path %>
                </li><br><% end %>
                <li>
                  <% if current_user.has_role? :alumno %>
                    <%= link_to 'Asignaturas', alumno_asignaturas_path %>
                  <% elsif current_user.has_role? :profesor %>
                    <%= link_to 'Subir archivos', profesor_asignaturas_path %>
                  <% end %>
                </li><br>
                <li>
                  <%= link_to 'Agregar/Actualizar datos', edit_user_registration_path %>
                </li><br><br><br>
                <li>
                  BIENVENIDO, <%=current_user.name%>_<%=current_user.last_name%>
                </li>
                </div>
            </ul>
        </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('.hamburger').click(function () {
    $('.hamburger').toggleClass('open');
});
    </script>
</body>
