<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon 'users', text: 'Utilidades',class:"padding-right" %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to preguntas_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Foros disponibles' %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to calendario_index_path do %>
          <%= fa_icon 'file-text',class:"icon-fixed-width", text: 'Calendario' %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
