<div class="page-header clearfix">
  <h3><%= fa_icon 'exclamation-circle' %>
    Asignación de usuarios al curso
  </h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Profesores del curso
    </h4>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <%if @profesor_assigned.present?%>
          <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Correo</th>
            <th>acciones</th>

          </thead>
          <tbody>
            <% @profesor_assigned.each do |user| %>
              <tr>
                <td><%= user.last_name %></td>
                <td><%= user.name %></td>
                <td><%= user.rut %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'quitar del curso', god_cursos_desasignar_path('curso' => @curso.id, 'user' => user.id),:method => "post",class: 'btn btn-danger btn-xs' %></td>
              </tr>
            <%end%>
          </tbody>
        <%else%>
          <tr>
            <h5>No hay profesores asignados al curso</h5>
          </tr>
        <%end%>

      </table>
    </div>
  </div>

  <div class="panel-heading">
    <h4>Alumnos del curso
    </h4>
    <div class="col-lg-6">
      <%= form_tag('/god/cursos', method: :get) do %>
      <div class="input-group">
        <input id="search" name="search" value="<%= params[:search] %>" type="text" class="form-control" placeholder="Buscar Alumno">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><%= fa_icon 'search', text: '' %></button>
        </span>
      </div><!-- /input-group -->
      <% end %>
    </div><!-- /.col-lg-6 --><br><br>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <%if @alumnos_assigned.present?%>
          <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Correo</th>
            <th>acciones</th>

          </thead>
          <tbody>
            <% @alumnos_assigned.each do |user| %>
              <tr>
                <td><%= user.last_name %></td>
                <td><%= user.name %></td>
                <td><%= user.rut %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'quitar del curso', god_cursos_desasignar_path('curso' => @curso.id, 'user' => user.id),:method => "post",class: 'btn btn-danger btn-xs' %></td>
              </tr>
            <%end%>
          </tbody>
        <%else%>
          <tr>
            <h5>No hay alumnos asignados al curso</h5>
          </tr>

        <%end%>
      </table>
    </div>
  </div>

  <div class="panel-heading">
    <h4>Asignar Profesores
    </h4>    <div class="col-lg-6">
          <%= form_tag('/god/cursos', method: :get) do %>
          <div class="input-group">
            <input id="search" name="search" value="<%= params[:search] %>" type="text" class="form-control" placeholder="Buscar Profesor">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><%= fa_icon 'search', text: '' %></button>
            </span>
          </div><!-- /input-group -->
          <% end %>
        </div><!-- /.col-lg-6 --><br><br>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Correo</th>
            <th>acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @profesores.each do |user| %>
            <% if @curso.users.exists?(:id => user.id) %>
            <% else %>
              <tr>
                <td><%= user.last_name %></td>
                <td><%= user.name %></td>
                <td><%= user.rut %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'asignar', god_cursos_asignar_path('curso' => @curso.id, 'user' => user.id),:method => "post",class: 'btn btn-success btn-xs' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

  <div class="panel-heading">
    <h4>Asignar alumnos
    </h4>    <div class="col-lg-6">
          <%= form_tag('/god/cursos', method: :get) do %>
          <div class="input-group">
            <input id="search" name="search" value="<%= params[:search] %>" type="text" class="form-control" placeholder="Buscar Alumno">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><%= fa_icon 'search', text: '' %></button>
            </span>
          </div><!-- /input-group -->
          <% end %>
        </div><!-- /.col-lg-6 --><br><br>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">

        <thead>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Rut</th>
          <th>Correo</th>
          <th>acciones</th>

        </thead>
        <tbody>
          <% @alumnos.each do |user| %>
            <tr>
              <td><%= user.last_name %></td>
              <td><%= user.name %></td>
              <td><%= user.rut %></td>
              <td><%= user.email %></td>
              <% if   @curso.users.exists?(:id => user.id) %>
                <td><%= link_to 'quitar del curso', god_cursos_desasignar_path('curso' => @curso.id, 'user' => user.id),:method => "post",class: 'btn btn-danger btn-xs' %></td>
              <% else %>
                <td><%= link_to 'asignar', god_cursos_asignar_path('curso' => @curso.id, 'user' => user.id),:method => "post",class: 'btn btn-success' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

  <div class="panel-footer">
    <%=link_to god_cursos_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'arrow-left', text: "Atrás" %>
  <% end %>
</div>

</div>
