  <div class="container">
   <h3 class="text-center">Contacto</h3>
   <p class="text-center"><em>Cualquier sugerencia o reclamo, no dude en escribir</em></p>
   <div class="row test">
     <div class="col-md-4">

       <p>Datos de contacto.</p>
       <p><span class="glyphicon glyphicon-map-marker"></span>Santiago, Chile</p>
       <p><span class="glyphicon glyphicon-phone"></span>Teléfono: +569 984448440</p>
       <p><span class="glyphicon glyphicon-envelope"></span>Email: soporte.colegio.sw@gmail.com</p>
     </div>
     <div class="col-md-8">
       <div class="row">
         <%= form_for @contact do |f| %>
         <div class="col-sm-6 form-group">
           <%= f.text_field :name, class: "form-control", required: true, placeholder: "Nombre" %>
         </div>
         <div class="col-sm-6 form-group">
           <%= f.email_field :email, class: "form-control",required: true, placeholder: "Email" %>
         </div>
       </div>
       <%= f.text_area :message, as: :text, class: "form-control",required: true, placeholder: "Mensaje", rows: "7"%>
       <div class="row">
         <div class="col-md-12 form-group">
           <%= f.submit 'Enviar Mensaje', class: "btn pull.right" %>
           <%end%>
         </div>
       </div>
     </div>
   </div>
  </div>
