<div class="layout-container">
  <div class="page-container bg-blue-grey-900">
    <div class="container-full">

      <div class="container container-xs">
        <div class="text-center logo">
          <%= image_tag 'logo.png', class: 'img-responsive center-block' %>
        </div>
        <div class="row col-md-offset-4 col-md-4">
          <br />
          <div class="panel panel-default devise-bs text-center">
            <div class="panel-heading">
              <h4>Ingresar al sistema</h4>
            </div>
            <div class="panel-body" style="background-color:#222222 !important;">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'email' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'password' %>
                  </div>
                  <% if devise_mapping.rememberable? %>
                      <div class="checkbox">
                        <%= f.label :remember_me do %>
                            <%= f.check_box :remember_me %> <%= t('.remember_me', :default => "Recordarme") %>
                        <% end %>
                      </div>
                  <% end %>

                  <%= button_tag type: 'submit', class: "btn btn-success" do %>
                    <%= fa_icon 'sign-in', text: t('.sign_in', :default => "Iniciar Sesión") %>
                  <% end %>

              <% end %>
            </div>

            <div class="panel-footer">
              <%= render 'devise/shared/links' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
