  <div class="row center-xs text-left">
  <div class="col-xs-8 col-md-6">
    <div class="box-sizing text-left">
<br>
<br>
<br>
      <h2>Iniciar sesi칩n</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email,"Correo electr칩nico" %><br />
          <%= f.email_field :email, autofocus: true, class:"from-control" %>
        </div>

        <div class="field">
          <%= f.label :password,"Contrase침a" %><br />
          <%= f.password_field :password, autocomplete: "off", class:"from-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,"Recordar contrase침a" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Ingresar", class:"btn be-red white" %>
        </div>
      <% end %>
    </div>
    <div class="">
      <%= render "devise/shared/links" %>
    </div>


  </div>

  </div>

</div>
<br>
<br>
<br>
