<%= simple_form_for(@asignatura,:url => god_asignaturas_path, :method => :post) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Proveedor</h4>
  </div>
  <div class="panel-body">

    <%= f.input :año, :as => :hidden, :input_html =>{:value => Date.current.year } , required:true %>
    <%= f.input :nombre, placeholder: 'Ej: Ciencias sociales', required: true %>
    <%if @cursos.present? %>
      <%= f.input :curso_id, collection: @cursos.all.collect{|a|[a.grado.to_s+'° '+a.letra_codigo,a.id]}, required: true %>
    <%else%>
      <h4>No puede crear asignatura, debe tener cursos al cual asignar</h4>
    <%end%>

  </div>
  <div class="panel-footer">
    <%= f.button :submit, class: 'btn btn-success' do %>
    <%= fa_icon 'save', text: t(:save) %>
  <% end %>

  <%= link_to god_asignaturas_path(@asignatura), class: 'btn btn-danger' do %>
      <%= fa_icon 'remove', text: t(:cancel) %>
  <% end %>
</div>
</div>
<% end %>
