<h1>Lista asignaturas</h1>
<%= link_to new_god_asignatura_path, class: 'btn btn-primary' do %>
  <%= fa_icon 'plus', text: "Crear asignatura" %>
<% end %><br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Curso</th>
      <th>Año</th>
      <th>assignar</th>

    </tr>
  </thead>
  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.id %></td>
        <td><%= asignatura.nombre %></td>
        <%if asignatura.curso.present?%>
          <td><%= asignatura.curso.grado %>° <%= asignatura.curso.letra_codigo %></td>
          <%else%>
          <td>No tiene curso asignado</td>
          <%end%>
        <td><%= asignatura.año %></td>
        <td><%= link_to 'asignar alumnos o profesor', god_asignatura_path(asignatura) %></td>



      </tr>
    <% end %>
  </tbody>
</table>
