<h1>Lista De cursos</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Curso</th>
      <th>Año</th>
      <th>assignar</th>
      <th>notas</th>
    </tr>
  </thead>
  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.id %></td>
        <td><%= asignatura.nombre %></td>
        <td><%= asignatura.curso.grado %><%= asignatura.curso.letra_codigo %></td>
        <td><%= asignatura.año %></td>
        <td><%= link_to 'asignar alumnos o profesor', god_asignatura_path(asignatura) %></td>
        <td><%= link_to 'notas', god_asignaturas_notas_path('asignatura' => asignatura.id),:method => "post" %></td>


      </tr>
    <% end %>
  </tbody>
</table>
