<h3>Crear Asignatura</h3>
<br><br>
  <%= simple_form_for(@asignatura,:url => god_asignaturas_path, :method => :post) do |f| %>
  <%= f.error_notification %>
  <% porcentaje = 0 %>
  <div class="form-inputs">
    <%= f.input :nombre, placeholder: 'Ej: Ciencias sociales', required: true %>
    <%= f.input :curso_id, collection: @cursos, required: true %>
    <%= f.input :año, :as => :hidden, :input_html =>{:value => Date.current.year } , required:true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Crear Asignatura', class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<div class="panel-footer">
  <%= link_to god_asignaturas_path(@asignatura), class: 'btn btn-success' do %>
    <%= fa_icon 'arrow-circle-left', text: t(:list) +'a de asignaturas' %>
  <% end %>
</div>
