<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @post.image %>
  <a target="_blank" href="<%= @post.image %>"> Ver archivo </a>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atrás', posts_path %>
