<%= simple_form_for([:profesor, @post]) do |f| %>
<%= f.error_notification %>
<div class="panel panel-default">
  <div class="panel-heading"><br>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="col-md-6 col-md-offset-2">
        <%= f.input :asignatura_id, as: :hidden, input_html: {value: @asignatura} %>
        <%= f.input :title, label: 'Título', placeholder: 'Ingrese Título' %>
        <%= f.input :description, label: 'Descripción', placeholder: 'Ingrese Descripción' %>



      <label class="btn btn-success fa fa-upload">
        Agregar el archivo
        <span style="display:none;">
          <%= f.file_field :image, required: true, multiple: false %>
        </span>
      </label>
      <%= f.button :submit, 'Cargar archivo', class: 'btn btn-primary pull-right fa' %>

      </div>
    </div>
    <!-- COMPONENT START -->
  </div>
  <div class="panel-footer">
    <%= link_to profesor_asignaturas_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'arrow-left', text: 'Atrás' %>
  <% end %>
<% end %>
</div>
</div>
